.body{
    width: 1170px;
    margin: 0 auto;
    background-color: lightgray;
    text-align: left;
    height: 500px;
}
.chung{
    margin-top: 10px;
    width: 100%;
    margin-left: 5px;
    float:left;
}
.trai{
    width: 48%;
    margin-top: 3px;
    border-right: 2px solid black;
}
.phai{  
    width: 48%;
    margin-top: 3px;
    margin-left: 35px;
}
div label{
    font-size: 20px;
    margin-top: 10px;
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
}
.chia2{
    float: left;
    width: 45%;
    margin-left: 5px;
}
.chia3{
    float: left;
    width: 32%;
    margin-left: 5px;
}
.form-button{
    color: blue; 
    margin-left: 500px;
    width: 150px;
}
.form{
    width: 100%;
    margin: 0 auto;
    height: 500px;
}